<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings><add name="Diving4LifeEntities" connectionString="metadata=res://*/Models.Entities.ModelDivingApp.csdl|res://*/Models.Entities.ModelDivingApp.ssdl|res://*/Models.Entities.ModelDivingApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Dell-7630;initial catalog=Diving4Life;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="Diving4LifeEntities1" connectionString="metadata=res://*/Models.Entities.ModelDiving4Life.csdl|res://*/Models.Entities.ModelDiving4Life.ssdl|res://*/Models.Entities.ModelDiving4Life.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Dell-7630;initial catalog=Diving4Life;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>